<div
  class="app-select-shell"
  [class.is-open]="isOpen()"
  [class.has-flag]="selectedOption()?.flagSrc"
  [class.has-icon]="selectedOption()?.iconPath"
  [class.app-select-shell--danger]="selectedOption()?.danger">
  @if (selectedOption()?.flagSrc; as flagSrc) {
    <img class="app-select-shell__flag" [src]="flagSrc" alt="" aria-hidden="true" />
  }
  @if (selectedOption()?.iconPath; as iconPath) {
    <svg
      class="app-select-shell__icon"
      [class.app-select-shell__icon--filled]="selectedOption()?.iconFilled"
      viewBox="0 0 24 24"
      aria-hidden="true">
      <path [attr.d]="iconPath"></path>
    </svg>
  }
  <sl-select
    class="app-select"
    [class.is-open]="isOpen()"
    [value]="value()"
    [displayLabel]="selectedOption()?.label ?? ''"
    [attr.display-label]="selectedOption()?.label ?? null"
    [attr.aria-label]="ariaLabel()"
    [attr.hoist]="hoist() ? '' : null"
    (sl-change)="onSelectionChange($event)"
    (sl-show)="setOpen(true)"
    (sl-hide)="setOpen(false)">
    @for (option of options(); track option.value) {
      <sl-option [class.option--danger]="option.danger" [value]="option.value" [disabled]="option.disabled ? true : null">
        @if (option.flagSrc) {
          <img class="app-select__option-flag" [src]="option.flagSrc" alt="" aria-hidden="true" />
        }
        @if (option.iconPath) {
          <svg
            class="app-select__option-icon"
            [class.app-select__option-icon--filled]="option.iconFilled"
            viewBox="0 0 24 24"
            aria-hidden="true">
            <path [attr.d]="option.iconPath"></path>
          </svg>
        }
        {{ isOpen() ? (option.longLabel ?? option.label) : option.label }}
      </sl-option>
    }
  </sl-select>

  <svg class="app-select-shell__arrow" viewBox="0 0 24 24" aria-hidden="true">
    <path d="m7 10 5 5 5-5"></path>
  </svg>
</div>
