@if (interactive()) {
  <button
    [class]="classes()"
    type="button"
    [disabled]="disabled()"
    [title]="title() || null"
    [attr.aria-label]="ariaLabel() || null"
    (click)="onClick($event)">
    <ng-container [ngTemplateOutlet]="badgeContent"></ng-container>
  </button>
} @else {
  <span [class]="classes()" [title]="title() || null" [attr.aria-label]="ariaLabel() || null">
    <ng-container [ngTemplateOutlet]="badgeContent"></ng-container>
  </span>
}

<ng-template #badgeContent>
  @if (iconPath()) {
    <svg class="badge__icon" viewBox="0 0 24 24" aria-hidden="true">
      <path [attr.d]="iconPath()"></path>
    </svg>
  }
  <span class="badge__label"><ng-content></ng-content></span>
</ng-template>
